.chatWrapper(layout="column")
  
  md-toolbar.fixed
    .md-toolbar-tools(
    layout="row"
    layout-align="space-between center")
      
      md-icon|menu
      h2|Gruu
      md-icon
  
  md-content#chat-conversation(flex)
    md-toolbar
    
    chat-conversation(
    conversation="$ctrl.conversation"
    is-disabled="!$ctrl.keyboard.enabled"
    on-regress="$ctrl.regress()")
      
      chat-keyboard(
      ng-if="$ctrl.keyboard.enabled" 
      keyboard="$ctrl.keyboard")