.message(
flex="66"
ng-hide="$ctrl.message.image"
layout="row"
layout-align="center center")
  |{{$ctrl.message.text}}
  .dot(
  ng-if="$ctrl.loading"
  ng-repeat="dot in [0,1,2]" 
  ng-class="'dot-' + dot")
chat-card(
ng-if="$ctrl.message.image"
message="$ctrl.message"
is-disabled="$ctrl.isDisabled"
action="$ctrl.action"
on-fire="$ctrl.onFire()()")