.cardWrapper(
layout="column"
ng-class="{hasAction: $ctrl.action}")
  .imageWrapper(
  flex
  ng-style="{backgroundImage: 'url('+$ctrl.message.image.imageSrc+')'}")
  h1|{{$ctrl.message.title}}
  .action(
  ng-if="$ctrl.action"
  ng-class="{disabled: $ctrl.isDisabled}"
  ng-click="$ctrl.onFire()()")
    |{{$ctrl.action.text}}